/** @format */
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

body{
  font-family: 'Fredoka One', sans-serif;
}
/** This is just to test fonts, not going to be the actual font */

h1{
  font-size: 60px;
  color: darkblue;
  text-align: center;
}

h2{
  font-size: 30px;
  color: lightblue;
  margin-left: 80px;
}

p{
  font-size: 20px;
  color: gray;
  margin-left: 100px;
  margin-right: 100px;
}
